body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* note for em later, that browser's default font size is 16px */
}

.game-container {
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    height: 20em;
    width: 30em;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1em;
}

.target-category {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2196F3;
    text-transform: uppercase;
}

.word-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em 0;
}

/* Word button created from js that adds to every word-grid */
.word-button {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 16px; 
}

.word-button.selected {
    background: #e0e0e0;
    border-color: #2196F3;
}

/* Game instructions text */
.instructions {
    text-align: center;
    margin: 1em;
    color: #666;
}

.feedback {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 2em;
}

/* Start button styling */
.start-button {
    display: block; 
    margin: 13em auto; /*use auto for left/right centering*/
    padding: 1em 2em;
    font-size: 18px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start-button:hover {
    background: #1976D2;
}

.game-content {
    display: none;
}