body {
    font-family: "Handlee", serif;
    font-weight: 900;
    font-style: normal;
    color: #6f420a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* note for em later, that browser's default font size is 16px */
}

.game-container {
    background-color: rgb(252, 241, 216);
    padding: 2em;
    border-radius: 2em;
    min-height: auto;
    max-width: 50em;
}
#start-content {
    flex-direction: column;
    align-items: center;
}
#game-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#start-title {
    font-family: "Dancing Script", serif;
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0;
}
#start-message, #start-instructions {
    text-align: center;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.5;
}
.start-buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em 0;
}
#start-button-2, #start-button-4, #start-button-6 {
    display: block; 
    margin: 1em auto 0; /*use auto for left/right centering*/
    padding: 0.5em 1em;
    font-family: "Handlee", serif;
    font-size: 1.3em;
    font-weight: 900;
    background: #855509;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start-button:hover {
    background: #a47426;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.target-category {
    text-align: center;
    font-family: "Atma", serif;
    font-size: 3em;
    font-weight: 900;
    color: #a55402;
    text-transform: capitalize;
}

/* Game instructions text */
.instructions {
    text-align: center;
    margin: 0.5em;
    color: #a55402;
    font-size: 1.5em;
}

.word-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    width: 80%;
    margin: 1em;
}

/* Word button created from js that adds to every word-grid */
.word-button {
    flex-basis: calc(25% - 2em); /*4 items per row accounting for 2em gap*/
    padding: 10px;
    border: 2px solid #6f420a;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-family: "Handlee", serif;
    font-size: 1.2em;
    color: #a55402;
    text-transform: capitalize;
}

.word-button.selected {
    background: #f9d4ac;
    border-color: #f9d4ac;
}

.feedback {
    font-family: "Atma", serif;
    text-align: center;
    margin: 1em;
    font-weight: 900;
    font-size: 2em;
    color: #a55402;
}

/* Summary created from js that replaces the word-grid*/
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.results-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.results-container h3 {
    font-family: "Dancing Script", serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    color: #a55402;
}
.summary-category {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    width: fit-content;
    margin: 0.5em;
}

.play-again-button {
    display: block;
    margin: 2em auto;
    padding: 0.5em 1.5em;
    font-family: "Handlee", serif;
    font-size: 1.2em;
    background: #855509;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /*align at the bottom*/
}
.play-again-button:hover {
    background: #a47426;
}

.game-content {
    display: none;
}

/*Mobile phone*/
@media screen and (max-width: 480px) {
    #start-title {
        font-size: 2.5em;
        margin: 0.2em 0;
    }
    #start-message, #start-instructions {
        font-size: 1.2em;
        line-height: 1.5;
    }
    #start-button-2, #start-button-4, #start-button-6 {
        font-size: 1.2em;
    }
    .word-grid {
        gap: 1em;
        width: 100%;
    }
    .word-button {
        flex-basis: calc(50% - 1em); /* 2 buttons per row on mobile */
        font-size: 1em;
        padding: 8px;
    }
    .stats {
        font-size: 1.2em;
    }
    .target-category {
        font-size: 2em;
    }
    .instructions {
        font-size: 1.2em;
    }
    .feedback {
        font-size: 1.5em;
    }
    .results-container h3 {
        font-size: 1.5em;
    }
    .summary-category {
        font-size: 1em;
        line-height: 1.2em;
    }
}
