body {
    font-family: "Atma", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* note for em later, that browser's default font size is 16px */
}

.game-container {
    background-color: rgb(252, 241, 216);
    padding: 2em;
    border-radius: 2em;
    height: 30em;
    width: 40em;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1em;
}

.target-category {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2196F3;
    text-transform: uppercase;
}

.word-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em 0;
}

/* Word button created from js that adds to every word-grid */
.word-button {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 1em; 
}

.word-button.selected {
    background: #e0e0e0;
    border-color: #2196F3;
}

/* Game instructions text */
.instructions {
    text-align: center;
    margin: 1em;
    color: #666;
}

.feedback {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 2em;
}

#start-title {
    display:flex;
    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
    height: 50%;
    font-weight: normal;
    font-size: 3em;
    margin: 0;
}

#start-message, #start-instructions {
    display:flex;
    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
    height: 50%;
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    margin: 0.8em;
}

/* Start button styling */
.start-button {
    display: block; 
    margin: 1em auto; /*use auto for left/right centering*/
    padding: 1em 2em;
    font-size: 1em;
    background: #855509;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start-button:hover {
    background: #a47426;
}

.game-content {
    display: none;
}